<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html">
  <meta charset="utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="zhcHoward's blog">
  {% case page.title %}
    {% when 'Home' %}
      <meta name="keywords" content="zhcHoward blog Howard Zhu">
    {% when 'Post' %}
      <meta name="keywords" content="{{ page.tags | join:"," }}">
    {% else %}
      <!--nothing-->
  {% endcase %}

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ page.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- JS -->
  <link rel="javascript" href="/assets/js/amazeui.min.js">
  <link rel="javascript" href="/assets/js/amazeui.ie8polyfill.min.js">
  <link rel="javascript" href="/assets/js/amazeui.widgets.helper.min.js">

  <!-- font -->
  <link rel="font" href="/assets/fonts/FontAwesome.otf">
  <link rel="font" href="/assets/fonts/fontawesome-webfont.ttf">
  <link rel="font" href="/assets/fonts/fontawesome-webfont.woff">
  <link rel="font" href="/assets/fonts/fontawesome-webfont.woff2">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
