/*
 ***************
 * common
 ***************
 */
.am-container {
    max-width: 100.0rem;
}

/*
 ***************
 * header
 ***************
 */
header .tagline {
  height: 4.166667rem;
  line-height: 4.166667rem;
}

header .tagline small {
  vertical-align: baseline;
}

header .navbar ul {
  margin-left: 0.75rem;
}

/*
 ***************
 * main
 ***************
 */
main .post-content {
  overflow : hidden;
  max-height: 11.0rem;
}

main .am-panel-footer small {
  color: #0e90d2;
  margin-right: 0.75rem;
}

/*
 ***************
 * tags
 ***************
 */
.tag-posts h2 {
  margin-top: 0;
}

.tag-posts ul, .tag-posts .title {
  margin-bottom: 0;
}

.tag-posts ul li {
  margin-bottom: 1.6rem;
}

.tag-posts .posts {
  list-style-type: none;
  padding-left: 0;
}

.tag-posts .posts .date {
  color: #888;
}

/*
 ***************
 * footer
 ***************
 */
footer {
  background: #f8f8f8;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #ddd;
  color: #999;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}

footer li {
  text-align: center;
}